body {
    padding: 0;
    margin: 0;
  

}
.entrada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Play', sans-serif;
    background: linear-gradient(130deg, #F50BEC 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #D1A32C 0%, rgba(255, 255, 255, 0) 100%), #E5EA00;
    
}

.logo {

    margin-top: 60px;
    max-width: 320px;
   

}

.b-ing {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 140px;
    margin-bottom: 63px;
    border-radius: 25px;


}

a:link, a:visited, a:active {
    text-decoration:none;
    color: rgb(119, 117, 117);
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Play', sans-serif;
    background: linear-gradient(180deg, #C7FF28 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #63FF69 0%, rgba(255, 255, 255, 0) 100%), #136D05;
}


.home-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Play', sans-serif;
    background: linear-gradient(180deg, #C7FF28 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #63FF69 0%, rgba(255, 255, 255, 0) 100%), #136D05;
}

.logo-home {

max-width: 72px;
margin-top: 20px;

}

.search {

    margin-top: 20px;
    margin-bottom: 40px;
}

.search-form{

    margin-top: 20px;
    margin-bottom: 5px;


}

.cuadro-opciones {

    background-color: #fff;
    width: 291px;
    height: 310px;
    margin: auto;
    margin-bottom: 60px;
    box-shadow: 3px 4px 4px rgba(146, 146, 146, 0.5);
    border-radius: 33px;
    text-align: center;
    padding: 10px;

    
}

.op-item {
    
    display: inline-block;
    inline-size: 200px;
    block-size: 22px;
    margin-bottom: 55px;
    font-size: 18px;
    background-color:  #ffffff;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-foo {

    background-color: #FFFFFF;
    height:75 ;
    text-align: center;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
   
}

.form {

    
 
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 14px;

    
}



.titulo-form {
    
    margin-top: 0px ;
    font-size: 30px;
}

.about {

    
    background-color: #fff;
    width: 291px;
    height: 400px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 3px 4px 4px rgba(146, 146, 146, 0.5);
    border-radius: 33px;
    text-align: center;
    padding: 10px;

    
}

.boton-galeria {
    margin-top: -10px;
    color: rgb(0, 102, 255);
}

.txt-area {

   height: 120px;
   width: 300px;

}